.about-me {
  text-align: center;
  padding: 40px;
}

.div-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.grid-container {
  display: grid;
}

.grid-container.skills {
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 20px;
}

.grid-container.experience {
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  display: grid;
}

.grid-container.education {
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  box-sizing: border-box;
  min-height: 150px;
  flex-grow: 1;
}

.icon {
  width: 30px;
  height: 30px;
  margin-bottom: 10px;
}

@media (max-width: 600px) {
  .grid-container.education {
    grid-template-columns: 1fr;
  }

  .grid-container.experience {
    grid-template-columns: 1fr;
  }

  .icon {
    width: 40px;
    height: 40px;
  }
}
