.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #ffffff;
  border-bottom: 1px solid black;
}

.navbar-icons {
  display: flex;
  flex-direction: row;
  gap: 15px;
}
.navbar-links {
  display: flex;
  gap: 15px;
}

.icons {
  font-size: 1.5rem;
}

.navbar-link {
  text-decoration: none;
  color: black;
  font-size: 1rem;
  transition: color 0.3s;
}

.navbar-link:hover {
  color: gray;
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    justify-content: center;
    gap: 10px;
  }

  .navbar-logo {
    margin-bottom: 10px;
  }

  .navbar-icons {
    display: flex;
    flex-direction: row;
  }
  .navbar-links {
    flex-direction: row;
    gap: 10px;
  }
}

@media (max-width: 480px) {
  .navbar {
    padding: 10px;
  }

  .navbar-link {
    font-size: 0.9rem;
  }

  .navbar-logo {
    font-size: 1.2rem;
  }
}
