.navbar {
  display: flex;
  padding: 10px;
  border-bottom: 0.7px solid black;
  align-items: center;
}

.navbar-name {
  font-size: 1.8rem;
  font-weight: normal;
  color: black;
  margin-right: auto;
}

.link {
  text-decoration: none;
  color: black;
}

.link:hover {
  text-decoration: underline;
  color: black;
}

.navbar-icons {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-grow: 1;
}

.navbar-icon {
  color: black;
  font-size: 1.8rem;
  transition: color 0.3s ease;
}

.navbar-icon:hover {
  color: gray;
}

.navbar-select-container a {
  color: #000000;
  text-decoration: none;
  font-size: 1.2rem;
  padding: 10px 15px;
}

.navbar-select-container a:hover {
  color: gray;
}

.navbar-select-container a.active-link {
  color: gray;
}

.profile-button {
  background-color: transparent;
  font-size: 20px;
  border: none;
  cursor: pointer;
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    padding: 15px 10px;
    align-items: center;
    justify-content: center;
  }

  .navbar-name {
    margin: 0;
  }

  .navbar-icons {
    justify-content: center;
    gap: 15px;
  }

  .navbar-select-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }

  .page-select {
    width: 80%;
    min-width: 150px;
    max-width: 100%;
  }
}
