.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  border-bottom: 1px solid #95a5a6; /* Gris cálido para el borde */
  background-color: #ecf0f1; /* Fondo claro del navbar */
}

.navbar-icons {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.navbar-links {
  display: flex;
  gap: 15px;
}

.icons {
  font-size: 1.5rem;
  color: #2c3e50; /* Azul oscuro para íconos */
  transition: color 0.3s;
}

.icons:hover {
  color: #3498db; /* Azul principal al pasar el mouse */
}

.navbar-link {
  text-decoration: none;
  color: #2c3e50; /* Azul oscuro para los enlaces */
  font-size: 1rem;
  transition: color 0.3s;
}

.navbar-link:hover {
  color: #3498db; /* Azul claro para hover */
}

.navbar-logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #2c3e50; /* Azul oscuro para el logo */
  transition: color 0.3s;
}

.navbar-logo:hover {
  color: #3498db; /* Azul claro para hover en el logo */
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    justify-content: center;
    gap: 10px;
  }

  .navbar-logo {
    margin-bottom: 10px;
  }

  .navbar-icons {
    display: flex;
    flex-direction: row;
  }

  .navbar-links {
    flex-direction: row;
    gap: 10px;
  }
}

@media (max-width: 480px) {
  .navbar {
    padding: 10px;
  }

  .navbar-link {
    font-size: 0.9rem;
  }

  .navbar-logo {
    font-size: 1.2rem;
  }
}
