.app {
  display: flex;
  flex-direction: row;
  background-color: white;
  height: 100vh;
}

.content {
  padding: 20px;
  width: 180vh;
  overflow-y: auto;
}
.language-toggle-button {
  position: fixed;
  left: 10px;
  bottom: 10px;
  padding: 10px 20px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 25px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s, transform 0.2s;
}

.language-toggle-button:hover {
  background-color: black;
}

.language-toggle-button:active {
  transform: scale(0.95);
}

.language-toggle-button:focus {
  outline: none;
}

.download-button {
  position: fixed;
  right: 10px;
  bottom: 10px;
  width: 50px;
  height: 50px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.download-button:hover {
  background-color: black;
}

.download-button:active {
  transform: scale(0.95);
}

.download-button:focus {
  outline: none;
}

@media (max-width: 768px) {
  .content {
    margin: 0;
    width: calc(100% - 60px);
  }
}
